<div id="content" class="subreddits">
  <div class="inner-content">
    <div class="portfolio-page">
      <div class="portfolio-box">
        <%= render @subreddits %>
      </div>
    </div>
  </div>
</div>
