<% title "SFWallpaper" %>
<header class="top">
  <h1>SFWallpaper</h1>
  <h2>The top images from the <a href="http://www.reddit.com/r/sfwpornnetwork/wiki/index">Reddit SFW Porn Network</a> for your desktop pleasure</h2>
  <div style="clear: both;"></div>
</header>
<div id="content" class="subreddits">
  <div class="inner-content">
    <div class="portfolio-page">
      <div class="portfolio-box">
        <%= render @subreddits %>
      </div>
    </div>
  </div>
</div>
